/* Write the CSS for you answer here */

#christmas {
}

#landscape {
    z-index: 0;
}

#pink {
    position: absolute;
    left: 500px;
    top: 350px;
    z-index: 1;
}

#tree {
    position: absolute;
    left:8px;
    top:100px;
    width:700px;
    height:auto;
    z-index: 2;
}

#red {
    position: absolute;
    left:100px;
    top:280px;
    z-index: 4;
}

#darkblue {
    position: absolute;
    left:300px;
    top:320px;
    z-index: 3;
}

#green {
    position: absolute;
    left: 400px;
    top: 200px;
    z-index: 3;
}


#blue {
    position: absolute;
    left: 150px;
    top: 180px;
    z-index: 3;
}

#orange {
    position: absolute;
    left: 600px;
    top: 300px;
    z-index: 3;
}