/* Write the CSS for you answer here */

/*body {*/
    /*position: absolute;*/
/*}*/

#christmas {
    /*background: url('assets/landscape.jpg');*/
    /*background-position: center;*/
    margin: auto auto;
    left:0;
    right:0;
    position: absolute;
    margin-left: 33%;
}

#landscape {
    z-index: 0;
}

#pink {
    position: absolute;
    left: 500px;
    top: 350px;
    z-index: 1;
}

#tree {
    position: absolute;
    left:0px;
    top:113px;
    width:700px;
    height:auto;
    z-index: 2;
}

#red {
    position: absolute;
    left:40px;
    top:330px;
    z-index: 4;
}

#darkblue {
    position: absolute;
    left:300px;
    top:320px;
    z-index: 3;
}

#green {
    position: absolute;
    left: 400px;
    top: 200px;
    z-index: 3;
}


#blue {
    position: absolute;
    left: 150px;
    top: 180px;
    z-index: 3;
}

#orange {
    position: absolute;
    left: 600px;
    top: 300px;
    z-index: 3;
}