@font-face {
font-family: 'Alex Brush';
    src: url('assets/AlexBrush-Regular.ttf');
}

body {
    background: url("assets/corner-LT-pattern.png") no-repeat top left lavender;
    display: block;
}

/*.main {*/
/*}*/

.sonnets {
    background: url("assets/ytile-pattern.png") repeat-y top left white;
    background-position: 100px 0px;
    box-shadow: 8px 8px 8px gray;
    /*box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);*/
    margin: 5% auto;
    /*width: 60%;*/
    width: 40%;
    border-radius: 20px 80px 20px 80px;
    padding-left: 15em;
    padding-top: 3%;
    padding-bottom: 3%;
}

pre {
    font-family: 'Alex Brush', serif;
    color: purple;
    line-height: 1.5em;
    font-size: 22pt;
}

.maintitle {
    font-family: 'Alex Brush', serif;
    color: purple;
    font-size: 22pt;
    font-weight: bold;
}

.sonnettitle {
    font-family: 'Alex Brush', serif;
    color: purple;
    font-size: 22pt;
    font-weight: normal;
}

.rb {
    position: absolute;
    padding-left: 50%;
    /*float:right;*/
    margin: 0;
    /*top: -22em;*/
    /*bottom: -2em;*/
}

.rbpattern {
    position: inherit;
    padding-left: 55%;
    float:right;
    margin: 0;
    /*top: -22em;*/
    bottom: 2em;
    /*vertical-align: top;*/

    /*background: url("assets/corner-RB-pattern.png") no-repeat;*/
    /*width: 300px;*/
    /*height: 299px;*/
    /*display: inherit;*/

}
